@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

:root {
    --white: #fefefe;
    --lightgrey: #f9f9f9ff;
    --mediumgrey: #a7a7a7;
    --grey: #c4c4c4;
    --darkgrey: #343434;
    --black: #1d021d;
    --lightblue: #b2dffc;
    --blue: #1b77f3;
    --darkblue: #3b5998;
    --red: #cf3c3f;
}

html {
    scroll-behavior: smooth;
}

nav a {
    text-decoration: none;
    font-size: 2vh;
    padding: 5vh;
    font-weight: 500;
}

a {
    transition: 300ms;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 90, 90);
    text-decoration: none;
    transition: 300ms;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    position: fixed;
    height: 3rem;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 166, 0, 0.5), rgba(255, 217, 0, 0));
    align-items: center;
    justify-content: center;
}


section {
    min-height: 100vh;
    height: 120vh;
}

h1 {
    padding-top: 4rem;
}

h2 {
    text-align: center;
    padding-top: 15%;
    padding-right: 6rem;
    padding-left: 6rem;
    font-size: 4vh;
}

p {
    text-align: center;
    padding: 1rem;
    font-size: 2vh;
}

footer {
    background-image: linear-gradient(to bottom, var(--darkgrey), rgb(0, 0, 0));
    height: 4rem;
    width: 100%;
}


.logo {
    height: 60vh;
}

.home_page {
    box-shadow: inset 0 0 0 10000px rgba(233, 195, 73, 0.3);
    background-image: url("./images/product-wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.produtos {
    box-shadow: inset 0 0 0 10000px rgba(202, 175, 86, 0.2);
    background-image: url("./images/home-wallpaper.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quem_somos {
    background-image: url("./images/about-us-wallpaper.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabela_de_precos {
    border-style: solid;
    width: 80vh;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.8);
    transition: 300ms;
}

.tabela_de_precos:hover {
    background-color: rgba(255, 238, 191, 0.9);
    transition: 300ms;
}

.informacoes_legais {
    border-style: solid;
    width: 80vh;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.8);
    transition: 300ms;
}

.informacoes_legais:hover {
    background-color: rgba(255, 238, 191, 0.9);
    transition: 300ms;
}